[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
django-crispy-forms = "*"
django-allauth = "*"
pillow = "*"
djangorestframework = "*"
django-ckeditor = "*"
dj-rest-auth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
environs = {extras = ["django"], version = "*"}
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
