h2 {
    color: #0400ff;
  }
  

  .navbar-light {
    background-color: #ddd9e9; }

  .citycover {
    height: 100px;
    width: 150px;
  }

  .home-item {
    padding: bottom: 50px;
  }

/*
  .carousel {
    background: #512DA8; }
    .carousel .carousel-item {
      height: 300px; }
      .carousel .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; }

  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1; }

    */