{% extends "base_main.html" %}

{% block content %}
  <h1>All Homes</h1>
  {% if home_list %}
  <ul>
    {% for home in home_list %}
      <li>
        <h5><a href="{{ home.get_absolute_url }}">{{ home.name }}  </a>
            <a class="btn btn-outline-primary" href="{% url 'home-update' home.slug %}">Update</a></h5>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Units to show.</p>
  {% endif %}
  <hr>
  <a class="btn btn-primary" href="{% url 'home-create' %}"> Add New Home </a>
{% endblock %}