{% extends "base_main.html" %}

{% block content %}
  <h1>All Units</h1>
  {% if unit_list %}
  <ul>
    {% for unit in unit_list %}
      <li>
        <h4><a href="{{ unit.get_absolute_url }}">{{ unit.name }}  </a>
            <a class="btn btn-outline-primary" href="{% url 'unit-update' unit.slug %}">Update</a></h4>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Units to show.</p>
  {% endif %}
  <hr>
  <h3><a href="{% url 'unit-create' %}"> Add New Unit </a></h3> 
{% endblock %}