{% extends 'base_main.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h1>Dashboard</h1>


<h3>Manage Your Portfolio</h3>
<a class="home-item" href="{% url 'building-list' %}">
    <div class="card card-body bg-light">
        <div class="col col-sm order-sm-first col-md">
            <div class="media">
                <img class="bookcover d-flex mr-3 img-thumbnail align-self-center" src="{% static 'images/building.jpg' %}" alt="">
            <div class="media-body">
            <h4 class="mt-0"><span class="badge badge-pill badge-secondary">Buildings </span></h4>

                </div>
            </div>

        </div>
    </div>
</a>
<hr>
<a class="home-item" href="{% url 'allunits' %}">
    <div class="card card-body bg-light">
        <div class="col col-sm order-sm-first col-md">
            <div class="media">
                <img class="bookcover d-flex mr-3 img-thumbnail align-self-center" src="{% static 'images/unit.jpg' %}" alt="">
            <div class="media-body">
            <h4 class="mt-0"><span class="badge badge-pill badge-secondary">Units </span></h4>

                </div>
            </div>

        </div>
    </div>
</a>
<hr>

<a class="home-item" href="{% url 'allhomes' %}">
    <div class="card card-body bg-light">
        <div class="col col-sm order-sm-first col-md">
            <div class="media">
                <img class="bookcover d-flex mr-3 img-thumbnail align-self-center" src="{% static 'images/home.jpg' %}" alt="">
            <div class="media-body">
            <h4 class="mt-0"><span class="badge badge-pill badge-secondary">Homes </span></h4>

                </div>
            </div>

        </div>
    </div>
</a>
<hr>

{% endblock content %}